@mainColor: blue;
@main-logo-height: 200px;
@mainFont: "Friz Quadrata TT Regular";
@my-min-page-width: 450px;

@import "propeties/property-card";

@font-face {
  font-family: "Friz Quadrata TT Regular";
  src: url("../fonts/Friz Quadrata TT Regular.ttf");
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}


//
//.background {
//  background-color: #d4e6de;
//  width: 100%;
//  height: 100%;
//}

.main-logo{
  width: 100%;
  height: (@main-logo-height)-150;
  text-align: center;
  min-width: @my-min-page-width;
  //border-bottom: solid;
  //border-bottom-width: 0.3px;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;

}
  .main-logo-img{
  //height: 125px;
  width: 300px;
  text-align: center;
  }
  .main-logo-header{
  //height: 125px;
  width: 100%;
  text-align: center;
  font-size: 35px;
  font-family: @mainFont;
  }

  .main-logo-text{
  //height: 125px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: @mainFont;
  }
//////////
.middle-part{
  margin-top: @main-logo-height;
  margin-bottom: @main-logo-height;
  padding-top: 25px;
  height: 100%;
  width: 100%;
  background-image: url("../images/STV2.png");
  background-size: cover;
//  background-color: red;
  min-width: @my-min-page-width;
}
  .char-properties{
    //vertical-align: top;
    min-width: 300px;
    margin:auto;
  }

    .text-inside-prop-card{
      //font-family: @mainFont;
      font-size: 15px;
      margin-top: 7px;
      margin-bottom: 0;
    }

    .currencies-text{
      display: inline-block;
      min-width: 130px;
      max-width: 130px;
      width: 130px;
    }
    .achievements-text{
      display: inline-block;
      //min-width: 130px;
      //max-width: 130px;
      width: 220px;
    }

    .auction-note{
      resize: none;
      width: 100%;
    }
///////////////

.bottom-tab{
  position: fixed;
  background-color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  height: @main-logo-height;
  border-top: solid;
  border-top-width: 0.3px;
  text-align: center;
  display: table;
  min-width: @my-min-page-width;
}
  .outer-container-for-price{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    //vertical-align: middle;
    //background-color: red;
  }

    .inner-container-for-price{
      display: table-cell;
      vertical-align: middle;
    }
      .approx-price, .approx-price-actual-value{
        font-size: 30px;
        font-family: @mainFont;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
      .btn-sell{
        width: 100px;
        background-color: black !important;
        border-color: white;
        font-size: 20px;
        font-family: @mainFont;
        //color: black;
      }
      .credits {
        font-size: 14px;
        font-family: @mainFont;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }